body{
	background-color: #fff766;
}
nav{
	height: 80px;
	background-color: #171603;
}
li{
	font-size: 22px;
}
a{
	color: #f7d22a;
}
a:hover{
	color: #fff82e;
}
h1{
	font-size: 54px;
}
p1{
	font-size: 20px;
	font-family: verdana;
}
img{
	height: 222px;
	margin-top: 22px;
	border: 5px solid #000;
}
p2{
	font-size: 20px;
	font-family: verdana;
	text-indent: 22px;
}
